# Copia este archivo como .env si deseas sobreescribir los valores
# definidos en docker-compose.yml

DATABASE_URL=postgresql+psycopg2://agrocontrol:agrocontrol_secret@db:5432/agrocontrol_pro
JWT_SECRET_KEY=cambia-esta-clave-en-produccion-agrocontrol-pro
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

MASTER_USER_NAME=julian arrieta
MASTER_USER_PASSWORD=arrieta
MASTER_USER_EMAIL=julian.arrieta@agrocontrolpro.com
MASTER_USER_PHONE=3000000000

CORS_ORIGINS=*
